* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div {
    text-align: center;
    background-color: rgb(4, 0, 255);
    width: 200px;
    height: 200px;
}