* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 201, 201);
    width: 100vw;
    height: 57vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

div {
    background-color: rgb(172, 164, 164);
    height: 390px;
    width: 35vw;
}

div h1 {
    position: relative;
    top: 20px;
    left: 10px;
}

div p {
    position: relative;
    top: 60px;
    left: 10px;
}