* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div {
    width: 700px;
    height: 80px;
    background: #e0dcdc;
    color: #000000;
}

div p {
    position: relative;
    | top: 23px;
    left: 20px;
    font-size: 20px;
}

div p1 {
    position: relative;
    left: 570px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
}